.game--box
{
    position: absolute;
    width: 560px;
    height: 100%;
    background-color: $darkGreen;
    left: 50%;
    transform: translateX(-50%);
}

.snake-dot,
.snake-food
 {
    position: absolute;
    width: 2%;
    height: 2%;
    
}

.snake-food
{
    background-color: $red;
    border: 1px solid $alizarinCrimson;
    z-index: 1;
}

.snake-dot
{
    background-color: $veryDarkGreen;
    border: 1px solid $lightGreen;
    z-index: 2;
}