.board 
{
    outline: 2px solid $lightGreen;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.row {
    height: 50px;
}

.cell {
    

    width: 50px;
    height: 50px;
    outline: 1px solid rgba(101, 123, 80, .5);
    display: inline-block;
}

.snake-cell
{
    background-color: $darkGreen;
}

.food-cell
{
    background-color: $alizarinCrimson;
}