$red: rgb(124, 2, 0);
$darkGreen: rgb(3, 52, 46);
$veryDarkGreen: rgb(3, 33, 28);
$veryLightGreen: rgb(125, 146, 103);
$lightGreen: rgb(101, 123, 80);
$alizarinCrimson: rgb(229, 35, 46);
$tvMainColor: #4c4e50;
