body {
  background-color: $veryDarkGreen;
  min-height: 100vh;
  font-family: "Creepster", cursive;
 
}


.menu_box {
  background-color: green;
  text-align: center;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $red;
  z-index: 2;

  .menu_title {
    color: $alizarinCrimson;
    letter-spacing: 3px;
    text-shadow: 3px 4px darken($color: $red, $amount: 20%);
    line-height: 50px;
    font-size: 1.5em;
    display: block;
    text-decoration: none;

    span 
    {
      color: lighten($color: $alizarinCrimson, $amount: 15%);
      font-size: 1.1em;
    }
  }

  .menu_elements {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 0;
    

    .title_btn {
      flex-basis: 24%;
      flex-grow: 1;
      height: 50px;
      background-color: $lightGreen;
      color: $veryDarkGreen;
      cursor: pointer;
      font-family: "Creepster", cursive;
      letter-spacing: 2px;
      font-size: 1.5em;
      border: 0;
      border-top: 2px solid $veryDarkGreen;
      transition: 0.3s;
      text-decoration: none;
      line-height: 50px;
      animation: .7s menuElements linear;
    }

    

    .title_btn:hover {
      background-color: darken($lightGreen, 10%);
      color: $red;
    }


   
    .anaconda
    {
     color: $red;
     transition: 1s;

    
    }

    
    .anaconda:hover {
      background-color: darken($red, 10%);
      color: $lightGreen;
      letter-spacing: 5px;

      
    }
  }
}

.submenu_author
{
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: $darkGreen;
  width: 100%;
  height: 50px;
  -webkit-box-shadow: 0px -15px 23px -10px rgba(20, 22, 22, 1);
  -moz-box-shadow: 0px -15px 23px -10px rgba(20, 22, 22, 1);
  box-shadow: 0px -15px 23px -10px rgba(20, 22, 22, 1);
  animation: .7s submenuAuthor linear;
  
  .author
  {
    text-decoration: none;
    line-height: 50px;
    font-size: 1.4rem;
    color: $veryDarkGreen;
    transition: .3;
  }

  .author:hover
  {
    color: $red;
  }
}


//animation author submenu
@keyframes submenuAuthor {
  0%
  {
    bottom: -80px;
    left: 0;
    height: 80px;
  }

  

  100%
  {
    bottom: 0;
    left: 0;
    height: 50px;
  }
  
}

//animation menuElements

@keyframes menuElements {
  0%
  {
    height: 0;
  }
  
 

  100%
  {
    height: 50px;
  }
  
}